[Unit]
Description=discord bot 
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/bot_admin/NEEC-BotDiscord
ExecStart=/usr/bin/python3 /home/bot_admin/NEEC-BotDiscord/bot.py 

[Install]
WantedBy=multi-user.target
